body {
  margin: 0;
  text-align: center;
  font-family: "Arvo", serif;
}

h1 {
  margin: 127px auto 0 auto;
  font-family: "Comforter", cursive;
  font-size: 5.625rem;
  color: #146356;
  line-height: 2;
}

h2 {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #519259;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px 30px 20px;
  text-decoration: none;
}

a:hover {
  color: #8B9A46;
}

.pro-person {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.5rem;
  font: "Arvo", serif;
  color: #146356;
}

.top-container {
  background-color: #a1b57d;
  position: relative;
  padding-top: 200px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
  overflow: auto;
}

.datapack {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.shroom-logo {
  width: 25%;
  float: right;
}

.bottom-cloud {
  position: absolute;
  left: 550px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 140px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.contact-me {
  margin-bottom: 100px;
}

.contact-text {
  margin: 40px auto 60px;
  width: 40%;
}

.bottom-container {
  background-color: #a1b57d;
  padding: 50px 0 20px;
}

.© {
  color: #EAF6F6;
  margin-bottom: 0;
  font-size: 0.75rem;
  padding: 20px 0;
}

hr {
  width: 20%;
}

.intro {
  margin-bottom: 50px;
}

.image {
  margin-top: 50px;
}
